<header class="py-3 mb-4 border-bottom shadow bg-dark">
  <div class="container-fluid align-items-center d-flex">
    <div class="flex-shrink-1">
      <a class="navbar-brand" href="#">
        <img class="d-inline-block align-bottom" src="./../../../../assets/image/nerbunker-logo.png" alt="Logo">
        Geek Universe
      </a>
    </div>
    <div class="flex-grow-1 d-flex align-items-center">
      <div class="col"></div>
      <div class="col-auto flex-shrink-0 dropdown">
        <a href="#" class="d-block link-dark text-decoration-none " id="dropdownUser2">
          <img src="https://via.placeholder.com/28?text=!" alt="user" width="32" height="32" class="rounded-circle">
        </a>
      </div>
    </div>
  </div>
</header>